<script>
    $(document).ready(function() {
        $('#roll-button').click(function() {
            let data = {
                categories: $('#categories').val(),
                group_restrictions: $('#group_restrictions').val(),
                test_role_names: $('#test-role-names').val(),
                test_role_alignments: $('#test-role-alignments').val(),
                test_role_limits: $('#test-role-limits').val(),
                test_role_weights: $('#test-role-weights').val(),
                faction_limit: $('#faction-limit').val(),
                rolelist: $('#rolelist').val(),
                playerlist: $('#playerlist').val()
            };
            $.ajax({
                url: 'https://tor-randomizer.onrender.com',  // Update with your Render app URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    $('#results').val(response.results);
                }
            });
        });

        const rolelistPresets = {
            "All Any": ["Any"],
            "Uprising Ranked": ["Cult Order", "Cult Investigative", "Cult Guardian", "Random Cult", "Random Cult", "Random Cult", "Common Cult", "Random Uprising", "Random Uprising", "Rogue Outcast"],
            "Ghosts Ranked": ["Cult Order", "Cult Investigative", "Cult Support", "Random Cult", "Random Cult", "Random Cult", "Common Cult", "Ghost Killing", "Random Ghost", "Random Ghost"],
            "Rogues Ranked": ["Cult Order", "Cult Investigative", "Cult Guardian", "Random Cult", "Random Cult", "Random Cult", "Cult Negative", "Rogue Killing", "Rogue Outcast", "Rogue Outcast"],
            "Saints Ranked": ["Cult Order", "Cult Investigative", "Cult Fabled", "Random Cult", "Random Cult", "Random Cult", "Random Cult", "Cult Negative", "Saint Vessel", "Rogue Outcast"]
        };

        $.each(rolelistPresets, function(key, value) {
            $('#rolelist-presets').append($('<option></option>').attr('value', key).text(key));
        });

        $('#rolelist-presets').change(function() {
            const preset = $(this).val();
            if (preset in rolelistPresets) {
                $('#rolelist').val(rolelistPresets[preset].join('\n'));
            }
        });
    });
</script>
